# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [7]:
s = 'hello'
# Print out 'e' using indexing
print(s[1:2])

e

Reverse the string 'hello' using slicing:

In [27]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [26]:
s ='hello'
# Print out the 'o'

# Method 1:

print(s[-1::3])

o

In [39]:
# Method 2:
print(s[4:])

o

## Lists

Build this list [0,0,0] two separate ways.

In [41]:
# Method 1:
numbers=[0,0,0]
print(numbers)

[0, 0, 0]

In [46]:
# Method 2:
numb=[0]+[0]+[0]
print(numb)
type(numb)
num=[0]*3
print(num)

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [51]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbay'
print(list3)

[1, 2, [3, 4, 'goodbay']]

Sort the list below:

In [53]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [58]:
d = {'simple_key':'hello'}
# Grab 'hello'
x = d["simple_key"]
print(x)

hello

In [66]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
x=d["k1"]["k2"]
print(x)

hello

In [76]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
x=d['k1'][0]['nest_key'][1]
print(x)
#Grab hello

['hello']

In [15]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
x=d['k1'][2]['k2'][1]['tough'][2]
print(x)
#Grab hello

['hello']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [19]:
planet="Earth"
diameter =12742
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [41]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

print(lst[3][1][2])

['hello']

[1]

** Given this nested dictionary grab the word "hello". **

In [69]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
y=d['k1'][3]['tricky'][3]['target'][3]
print(y)

hello

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

### Write a Python program to swap two variables.

In [17]:
va1=3
va2=4
va1=q
va1=va2
va2=q
print(va1)
print(va2)

NameError: name 'q' is not defined

In [37]:
varible1=input("enter first")
varible2=input("enter second")
swap=varible1
varible1=varible2
varible2=swap
print("varible1",varible1)
print("varible2",varible2)

enter firstomar
enter firstahmed
varible1 ahmed
varible2 omar

## Thanks