# Assignment 3

### Write a function to count the number 4 in a given list.

In [75]:
def count_4(nums):
    count=0
    for n in nums:
        if n==4:
            count=count+1 
    return count
     
         
print(count_4([1, 4, 6, 4, 7, 4]))

3

# write a  function to check whether a number is divisible by another number.

In [24]:
def multiple(m, n):
     return True if m % n == 0 else False

print(multiple(20, 5))
print(multiple(55, 22))

True
False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [76]:
def max_min(data):
    maxi=data[0]
    mini=data[0]
    for num in data:
        if num >maxi:
            maxi=num
        elif num>mini:
            mini=num
    return maxi,mini
max_min([1,2,3,4,5,6,7])

(7, 1)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [91]:
def common_data(list1, list2):
    result=False
    for s in list1:
        for y in list2:
             if x == y:
                result=True
            return result
    
    
print(common_data([1,2,3,4]),[1,9,7,6])

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

IndentationError: unexpected indent (<ipython-input-106-5612fa0cb2c5>, line 3)

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [109]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("coun number to find fact : "))
print(factorial(n))

Input a number to compute the factiorial : 4
24

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [111]:
def test_range(n):
    if n in range(3,11):
        print( " %s is in the range"%str(n))
    else :
        print("The number is out.")
test_range(99)

The number is outside the given range.

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [33]:
n=int(input("putnumber")) 
for s in range(1,11):
    print(s,n*s)

putnumber45
1 45
2 90
3 135
4 180
5 225
6 270
7 315
8 360
9 405
10 450

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [41]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)
result = lesser_of_two_evens(2,5)
result2=lesser_of_two_evens(2,4)
print(result)
print(result2)

5
2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [45]:
def animal_crackers(strrr):
    s1, s2 = strr.split(' ')
    print(s1[0] == s2[0])
     

animal_crackers("levelheaded lama")
animal_crackers('Crazy Kangaroo')

True
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [18]:
def makes_twenty(a,b):
    if a == 20 or b == 20 or (a+b)== 20:
        return True
    else:
        return False

result = makes_twenty(20,10)
print(result)

True

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [43]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))
almost_there(150)

False

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [28]:


def blackjack(x,y,z):
    tot=int(x+y+z) #count total of sum 
    if tot < 21:   #return total if a2al men 21
        return tot  
    
    elif tot > 21 and x == 11 or y == 11 or z == 11:
        tot2=tot-10  #if their sum exceeds 21 and there's an eleven, reduce the total sum by 10
        return tot2
    
    else:
        return "BUST" #lly, if the sum exceeds 21, return 'BUST
        
    
    
print(blackjack(5, 6, 7))
print(blackjack(9, 9, 9))
print(blackjack(9, 9, 11))

18
BUST
19